h1 {
  font-family: 'OptimusPrinceps';
  font-size: 30px;
  color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

p {
  text-align: left;
  font-family: 'OptimusPrinceps';
}

h2 {
  font-family: 'OptimusPrinceps';
}

.titleOfPage {
  font-family: 'OptimusPrinceps';
  font-size: 40px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
}

.burntBkgd p{
  font-size: 17px;
  text-align: center;
}

.topPart {
  margin-top: 150px;
  margin-bottom: 150px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  background-color: black;
}
.nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 180px;
}

.Credits {
  margin-left: auto;
  justify-self: flex-end;
}

.greybkgd {
  background-color: lightgrey;
}

.blackBkgd {
  background-color: darkslategrey;
}

.searchArea {
  background-color: darkslategrey;
}

.search {
  margin-top: 10px;
}

.bkgdimg0 {
  background-image: url(images/bkgdimg0.png);
  background-size: cover;
  background-position: right;
  background-color: black;

}

.Information{
  padding-top: 120px;
  padding-bottom: 120px;
}

.burntBkgd {
  background-color: Orange;
}

p.pTitle {
  color: grey;
}

@font-face {
    font-family: 'optimusprincepsregular';
    src: url("fonts/optimusprinceps.ttf-webfont.woff2") format("woff2"),
         url("fonts/optimusprinceps.ttf-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}